<div class="body">
    <!-- <app-title-vols></app-title-vols> -->
    <app-nav-bar></app-nav-bar>
    <div class="content-all zoom-in">
        <app-recherche class="zoom-in"></app-recherche>
        <div class="title_admin zoom-in">
            <div class="conteneur zoom-in">
                <h5>Super Admin</h5>
                <br>
                <h6>Hausse des Super admin en juillet</h6>
                <br>
                <div style="display: flex;">
                    <h4>5%</h4>
                    <img [ngSrc]="net" alt="net" width="20" height="20" style="margin-left: 10px;">
                </div>
            </div>
        </div>
        <div class="List_admin zoom-in">
            <div style="display: flex;">
              <div class="ajout_btn">
                <img [ngSrc]="ajouterImage" alt="ajouer" width="20" height="20">
                <h6><a href="" routerLink="/formulaireDuperAdmin"> Ajouter un Super amdin</a></h6>
              </div>
                <select name="" id="">
                  <optgroup>
                    <option value="Tous">Tous</option>
                    <option value="Tous">Pilotes</option>
                    <option value="Tous">Escortes</option>
                    <option value="Tous">Service de nettoyage</option>
                  </optgroup>
                </select>
                <input type="date">
            </div>
              <div class="table-container zoom-in">
                  <div class="table-scroll zoom-in">
                    <table>
                      <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>numeroDeTelephone</th>
                            <th>pseudo</th>
                            <th>compagnie</th>
                            <th>Supprimer</th>
                            <th>Modifier</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let superadmin of superadmins">
                            <td>{{superadmin.nom}}</td>
                            <td>{{superadmin.prenom}}</td>
                            <td>{{superadmin.email}}</td>
                            <td>{{superadmin.password}}</td>
                            <td>{{superadmin.numeroDeTelephone}}</td>
                            <td>{{superadmin.pseudo}}</td>
                            <td>{{superadmin.compagnie}}</td>
                            <td>
                            <button (click)="openDeleteModal(superadmin)">
                              <i class="fa-solid fa-trash btn_action_two"></i>
                            </button>
                          </td>
                          <td>
                            <button (click)="openModal(superadmin)">
                              <i class="fa-solid fa-pen btn_action_one"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
          </div>
    </div>
</div>

<!-- Modal for editing -->
<div *ngIf="showModal" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Modifier Aéroport</h2>
      <br>
      <form (ngSubmit)="onSubmit()" class="form_content">
        <div>
          <label for="nom">Nom:</label>
          <br>
          <input type="text" id="nom" [(ngModel)]="selectedSuperAdmin.nom" name="nom">
        </div>
        <div>
          <label for="prenom">Prenom:</label>
          <br>
          <input type="text" id="prenom" [(ngModel)]="selectedSuperAdmin.prenom" name="prenom">
        </div>
        <div>
          <label for="email">Email:</label>
          <br>
          <input type="email" id="email" [(ngModel)]="selectedSuperAdmin.email" name="email">
        </div>
        <div>
          <label for="password">Password:</label>
          <br>
          <input type="password" id="password" [(ngModel)]="selectedSuperAdmin.dateEtHeureArrivee" name="password">
        </div>
        <div>
          <label for="numeroDeTelephone">NumeroDeTelephone:</label>
          <br>
          <input type="tel" id="numeroDeTelephone" [(ngModel)]="selectedSuperAdmin.numeroDeTelephone" name="numeroDeTelephone">
        </div>
        <div>
          <label for="pseudo">Pseudo:</label>
          <br>
          <input type="tel" id="pseudo" [(ngModel)]="selectedSuperAdmin.pseudo" name="pseudo">
        </div>
        <br>
        <button type="submit">Enregistrer</button>
      </form>
    </div>
</div>

<!-- Modal for deletion confirmation -->
<div *ngIf="showDeleteModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeDeleteModal()">&times;</span>
    <h2>Confirmer la suppression</h2>
    <br>
    <p>Voulez-vous vraiment supprimer cet aéroport ?</p>
    <br>
    <button (click)="confirmDelete()" class="modal_btn_del">Supprimer</button>
    <button (click)="closeDeleteModal()" class="modal_btn_up">Annuler</button>
  </div>
</div>
