.body{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.container-margin-resp{
  margin-left: 20px;
  width: 79%;
  }
@media (max-width: 900px){
  .container-margin-resp{
    margin-left: 2px;
    width: 81%;
    }
    .body{
      padding: 20px 5px 20px 0px;
    }
}
/* Animation */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in-visible {
  opacity: 1;
  transform: translateY(0);
}

