<div class="body_page">
    <!-- <app-title-personnels></app-title-personnels> -->

    <app-nav-bar></app-nav-bar>
    <div class="container-margin-resp fade-in">
        <app-recherche class="fade-in"></app-recherche>
        <br>

        <div class="categoris_list_pers fade-in">
            <div class="trois_conteneur fade-in">
                <app-salaire class="fade-in"></app-salaire>
                <app-tanche-age class="fade-in"></app-tanche-age>
                <app-autre-salaries class="fade-in"></app-autre-salaries>
             </div>
             <div class="fade-in">
                <app-list-personnels class="fade-in"></app-list-personnels>
             </div>
        </div>
    </div>
</div>
