.conteneur_image_text{
    display: flex;
}
.container-right{
    height: 93.5%;
    border-radius: 10px;
}
.body_page{
    width: 100vw;
    justify-content: center;
    padding-top: 20px;
}
.container-search-and-body{
    margin-left: 15px;
}
@media (max-width:1000px) {
  .container-search-and-body{
  margin-right: 5px;
  margin-left: 5px;

}
}
/* Cette concerne l'animation */
.fade-in {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in-visible {
  opacity: 1;
  transform: translateX(0);
}
