<div class="body_page" style="display: flex;">
    <!-- <div>
       <app-title-compagnie></app-title-compagnie>
    </div> -->
    <app-nav-bar></app-nav-bar>
    <div class="container-search-and-body fade-in">
        <div class="search-container fade-in">
            <app-recherche class="fade-in"></app-recherche>
        </div>
        <div class="container-right fade-in">
            <app-salaire class="fade-in"></app-salaire>
            <div class="conteneur_image_text fade-in">
                <div class="trois_compagnie fade-in">
                    <app-genre-compagnie class="fade-in"></app-genre-compagnie>
                </div>
                <div class="fade-in">
                    <app-conteneur-right class="fade-in"></app-conteneur-right>
                </div>
            </div>
        </div>
    </div>
</div>
