<nav class="app-nav-bar">
  <div>
    <a routerLink="/formulaireAdmin">
      <img [src]="logo1" alt="logo1" width="100" height="100">
    </a>
  </div>
  <div class="content_nav_link">
    <div routerLink="/accueil" class="nav_link" (click)="selectItem('accueil')" [ngClass]="{'selected': selectedNavItem === 'accueil'}">
      <i class="fa-solid fa-house"></i>
      <a>Accueil</a>
    </div>
    <div *ngIf="role === 'ROLE_ADMINCOMPAGNIE'" class="nav_link" routerLink="/vol" (click)="selectItem('vols')" [ngClass]="{'selected': selectedNavItem === 'vols'}">
      <i class="fa-solid fa-plane"></i>
      <a>Vols</a>
    </div>
    <div *ngIf="role === 'ROLE_ADMINCOMPAGNIE'" class="nav_link" routerLink="/personnel" (click)="selectItem('personnels')" [ngClass]="{'selected': selectedNavItem === 'personnels'}">
      <i class="fa-solid fa-user"></i>
      <a>Personnels</a>
    </div>
    <div *ngIf="role === 'ROLE_ADMINCOMPAGNIE'" class="nav_link" routerLink="/aeroport" (click)="selectItem('aeroports')" [ngClass]="{'selected': selectedNavItem === 'aeroports'}">
      <i class="fa-solid fa-plane-departure"></i>
      <a>Aéroports</a>
    </div>
    <div *ngIf="role === 'ROLE_ADMIN'" class="nav_link" routerLink="/compagnie" (click)="selectItem('compagnies')" [ngClass]="{'selected': selectedNavItem === 'compagnies'}">
      <i class="fa-solid fa-house-flag"></i>
      <a>Compagnies</a>
    </div>
    <div *ngIf="role === 'ROLE_ADMINCOMPAGNIE'" class="nav_link" routerLink="/faq" (click)="selectItem('faq')" [ngClass]="{'selected': selectedNavItem === 'faq'}">
      <i class="fa-solid fa-user-tie"></i>
      <a>Faq</a>
    </div>
    <div *ngIf="role === 'ROLE_ADMIN'" class="nav_link" routerLink="/admin" (click)="selectItem('admin')" [ngClass]="{'selected': selectedNavItem === 'admin'}">
      <i class="fa-solid fa-user-tie"></i>
      <a>Admin</a>
    </div>
    <div *ngIf="role === 'ROLE_ADMIN'" class="nav_link" routerLink="/superadmin" (click)="selectItem('superadmin')" [ngClass]="{'selected': selectedNavItem === 'superadmin'}">
      <i class="fa-duotone fa-solid fa-user-tie"></i>
      <a>Super admin</a>
    </div>
    <!-- <div *ngIf="role === 'ROLE_ADMINCOMPAGNIE'" class="nav_link" routerLink="/passager" (click)="selectItem('passager')" [ngClass]="{'selected': selectedNavItem === 'passager'}">
      <i class="fa-solid fa-users"></i>
      <a>Passager</a>
    </div> -->
    <!-- <div *ngIf="role === 'ROLE_PERSONNEL'" class="nav_link" routerLink="/personnel" (click)="selectItem('personnel')" [ngClass]="{'selected': selectedNavItem === 'personnel'}">
      <i class="fa-solid fa-user"></i>
      <a>Personnel</a>
    </div> -->
    <div class="nav_bar-bottom">
      <div class="nav_link" routerLink="/parametre" (click)="selectItem('parametres')" [ngClass]="{'selected': selectedNavItem === 'parametres'}">
        <i class="fa-solid fa-gear"></i>
        <a>Paramètres</a>
      </div>
      <div (click)="logout()" id="nav_link_last_a" class="nav_link" routerLink="/connexion" (click)="selectItem('connexion')" [ngClass]="{'selected': selectedNavItem === 'connexion'}">
        <i class="fa-solid fa-right-to-bracket"></i>
        <a id="nav_link_last_a">Logout</a>
      </div>
    </div>
  </div>
</nav>
