.body_page {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.content-container {
  width: 100%;
}

.content_fag_code {
  background-color: var(--white);
  margin-top: 60px;
  border-radius: 10px;
  padding-top: 20px;
  height: 65vh;
  overflow-y: scroll;
  margin-left: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.content_fag_code::-webkit-scrollbar{
display: none;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container img {
  margin-left: 10px;
}

.form_img_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

input {
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  height: 25px;
}

button {
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  border: 2px solid #04BBC7;
  color: black;
  margin-top: 10px;
  padding: 10px;
  font-weight: 600;
  transition: .5s background-color, color;
}

button:hover {
  background-color: #04BBC7;
  color: white;
  cursor: pointer;
}

.content-all{
  width: 78%;
}

.flex-btn-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.flex-btn-list a {
  border-radius: 5px;
  border: 2px solid #04BBC7;
  color: black;
  margin-top: 10px;
  padding: 10px;
  font-weight: 600;
  transition: .5s background-color, color;
  text-decoration: none;
}

.flex-btn-list a:hover {
  background-color: #04BBC7;
  color: white;
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 900px) {
  .content_fag_code{
    margin-top: 40px;
  }
}
@media (max-width: 600px) {
  .content_fag_code{
    margin-top: 30px;
  }
}
/* Anitmation */
.rotate-in {
  opacity: 0;
  transform: rotate(-360deg);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.rotate-in-visible {
  opacity: 1;
  transform: rotate(0deg);
}

