<div class="body_page">
<div>
  <div>
    <h1>Créer un nouveau compte</h1>
    <div class="form-container">
        <div class="form-1">
            <div>
                <label for="username">Nom Prénom</label><br>
                <input type="text" placeholder="entrez votre nom complet">
            </div>
            <div>
                <label for="identifiant">Identifiant</label><br>
                <input type="text" placeholder="Entrez l'identifiant">
            </div>
            <div>
                <label for="role">Rôle</label><br>
                <input type="text" placeholder="Entrez Rôle utilisateur">
            </div>
        </div>
        <button type="button" class="btn-one">Valider</button>
    </div>
  </div>
    <br><br>
    <div>
      <h1>Créer un nouveau compte</h1>
      <div class="form-container">
          <div class="form-1">
              <div>
                  <label for="username">Ancien mot de passe</label><br>
                  <input type="text" placeholder="entrez votre nom complet">
              </div>
              <div>
                  <label for="identifiant">Nouveau mot de passe</label><br>
                  <input type="text" placeholder="entrez votre nouveau mot de passe">
              </div>
              <div>
                  <label for="role">Confirmer mot de passe</label><br>
                  <input type="text" placeholder="confirmez votre mot de passe">
              </div>
          </div>
          <button type="button" class="btn-one">Valider</button>
      </div>
    </div>
</div>
  </div>
