@import 'ngx-toastr/toastr';
/* You can add global styles to this file, and also import other style files */
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
*, body {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    display: none;
}
:root {
  --primary-blue: #007BFF;
  --dark-blue: #0056B3;
  --white: #FFFFFF;
  --dark-gray: #6C757D;
  --light-gray: #f4f6f8;
  --black-night: #000000;
  --green: #28A745;
  --orange: #FFC107;
  --red: #df0319;
  --blue-pers:#04BBC7;
}
