<div class="body_page">
  <div style="display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between;">
    <div class="ajout_btn">
      <img [ngSrc]="ajouterImage" alt="ajouter" width="20" height="20">
      <h6><a href="" routerLink="/formulaireVols"> Ajouter un nouveau vol</a></h6>
    </div>
    <select name="" id="">
      <optgroup>
        <option value="Tous">Tous</option>
        <option value="Pilotes">Pilotes</option>
        <option value="Escortes">Escortes</option>
        <option value="Service de nettoyage">Service de nettoyage</option>
      </optgroup>
    </select>
    <input type="date">
  </div>
  <div class="table-container">
    <div class="table-scroll">
      <table>
        <thead>
          <tr>
            <th>NumeroDeVol</th>
            <th>AéroportDepart</th>
            <th>aeroportDArrivee</th>
            <th>DateEtHeureArrivee</th>
            <th>DateEtHeureDepart</th>
            <th>Satut</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vol of vols" (click)="openPassagerModal(vol)">
            <td>{{vol.numeroDeVol}}</td>
            <td>{{vol.aeroportDepart}}</td>
            <td>{{vol.aeroportDArrivee}}</td>
            <td>{{vol.dateEtHeureDepart}}</td>
            <td>{{vol.dateEtHeureArrivee}}</td>
            <td>{{vol.satut}}</td>
            <td style="display: flex;">
              <button (click)="openDeleteModal(vol); $event.stopPropagation()">
                <i class="fa-solid fa-trash btn_action_two"></i>
              </button>
              <button (click)="openModal(vol); $event.stopPropagation()">
                <i class="fa-solid fa-pen vol btn_action_one"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal for editing -->
<div *ngIf="showModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Modifier Vol</h2>
    <br>
    <form (ngSubmit)="onSubmit()" class="form_content">
      <!-- Form fields for editing vol -->
      <div>
        <label for="numeroDeVol">NumeroDeVol:</label>
        <br>
        <input type="number" id="numeroDeVol" [(ngModel)]="selectedVol.numeroDeVol" name="numeroDeVol">
      </div>
      <div>
        <label for="aeroportDepart">AéroportDepart:</label>
        <br>
        <input type="text" id="aeroportDepart" [(ngModel)]="selectedVol.aeroportDepart" name="aeroportDepart">
      </div>
      <div>
        <label for="aeroportDArrivee">AeroportArrivee:</label>
        <br>
        <input type="text" id="aeroportDArrivee" [(ngModel)]="selectedVol.aeroportDArrivee" name="aeroportDArrivee">
      </div>
      <div>
        <label for="dateEtHeureArrivee">DateEtHeureArrivee:</label>
        <br>
        <input type="text" id="dateEtHeureArrivee" [(ngModel)]="selectedVol.dateEtHeureArrivee" name="dateEtHeureArrivee">
      </div>
      <div>
        <label for="dateEtHeureDepart">DateEtHeureDepart:</label>
        <br>
        <input type="text" id="dateEtHeureDepart" [(ngModel)]="selectedVol.dateEtHeureDepart" name="dateEtHeureDepart">
      </div>
      <div>
        <label for="satut">statut:</label>
        <br>
        <input type="tel" id="satut" [(ngModel)]="selectedVol.satut" name="satut">
      </div>
      <br>
      <button type="submit">Enregistrer</button>
    </form>
  </div>
</div>

<!-- Modal for deletion confirmation -->
<div *ngIf="showDeleteModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeDeleteModal()">&times;</span>
    <h2>Confirmer la suppression</h2>
    <br>
    <p>Voulez-vous vraiment supprimer ce vol ?</p>
    <br>
    <button (click)="confirmDelete()" class="modal_btn_del">Supprimer</button>
    <button (click)="closeDeleteModal()" class="modal_btn_up">Annuler</button>
  </div>
</div>

<!-- Modal for displaying passengers -->
<div *ngIf="showPassagerModal" class="modal">
  <div class="modal-content-full">
    <span class="close" (click)="closePassagerModal()">&times;</span>
    <h2>Liste des passagers</h2>
    <br>
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prenom</th>
          <th>NumeroDePasseport</th>
          <th>NumeroDeVisa</th>
          <!-- <th>Siege</th>
          <th>Reservation</th>
          <th>Bagage</th> -->
          <!-- <th>Action</th> -->
          <!-- <th>Modifier</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let passager of passagers">
          <td>{{passager.nom}}</td>
          <td>{{passager.prenom}}</td>
          <td>{{passager.numeroDePassPort}}</td>
          <td>{{passager.numeroDeVisa}}</td>
          <!-- <td>
            <button (click)="openDeleteModal(passager)">
              <i class="fa-solid fa-trash btn_action_two"></i>
            </button>
          </td>
          <td>
            <button (click)="openModal(passager)">
              <i class="fa-solid fa-pen btn_action_one"></i>
            </button>
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
