.body_page {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.main-content {
  width: 78%;
}

.container-left {
  background-color: #04BBC7;
  width: 40%;
  padding: 30px 20px;
  border-radius: 20px;
  color: var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container-right {
  background-color: var(--white);
  width: 50%;
  padding: 30px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.two-conteneur {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 15px;
}

.admin_corbeille, .admin_modifier {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
  margin: 2px;
  transition: .5s opacity;
  text-align: center;
  transition: .5s background-color, color;
}

.admin_corbeille:hover{
  color: var(--white);
  background-color: red;
}
.admin_modifier:hover {
  color: var(--white);
  background-color: #04BBC7;
}

.admin_corbeille {
  background-color: var(--white);
  color: red;
  border-color: red;
}

.admin_modifier {
  background-color: var(--white);
  color: #04BBC7;
  border-color: #04BBC7;
}

.enregistrement {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formulaire-admin-list {
  background-color: var(--white);
  border-radius: 10px;
  margin-top: 15px;
  padding: 10px 10px 15px 10px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.margin-top-nom {
  display: flex;
  justify-content: center;
}

.content-flex-form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.margin-top-div {
  margin-top: 15px;
}

input, select {
  width: 400px;
  height: 25px;
  border-radius: 5px;
}

.btn_enregistrement button {
  background-color: white;
  border-color: #04BBC7;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 800;
  transition: .5s background-color;
}

.btn_enregistrement button:hover {
  background-color: #04BBC7;
  color: white;
  cursor: pointer;
}

.btn_enregistrement {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

/* Responsive Design */

@media (max-width: 900px) {
  .body_page {
      align-items: center;
      padding: 20px 0px 0px 0px;
width: 95%;
  }

  .two-conteneur {
      flex-direction: column;
      align-items: center;
margin-top: 0px;
  }

  .container-left, .container-right {
      width: 100%;
      max-width: 600px;
line-height: 15px;
      padding: 5px 5px;
      margin-bottom: 20px;
display: none;
  }
  .form-content {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
height: 68vh;
overflow: scroll;
  }
  .form-content::-webkit-scrollbar{
display: none;
  }

  .content-flex-form {
      flex-direction: column;
      align-items: center;
  }

  .margin-top-div, .margin-top-nom {
      width: 100%;
      max-width: 600px;
      margin-bottom: 20px;
  }
}
